.blogDetail-container .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   row-gap: 20px;
}
.blogDetail-container{
    background-image: url('../../public/Background.png');
    background-size: 100% 100%;
    /* height: 55vh; */
}
@media (max-width:500px) {
    .blogDetail-container{
        height: 35vh;
    }
    .big-feature img{
        border-radius: 10px !important;
        /* background-color: red; */
        position: relative;
        top: -43px !important;
    }
    .big-feature p{
        color: #374957 ;
        text-align: justify;
        margin: 0 30px !important;
        
    }
}
.blogDetail-container .container h4{
    color: #FFFFFF;
font-size: 64px;
font-weight: 600;
line-height: 58.88px;
text-align: center;

}
.blogDetail-container .container p{
    color: #FFFFFF;
font-size: 28px;
font-weight: 400;
line-height: 25.76px;
text-align: center;

}
.blogDetail-container .container button{
    border-radius: 20px;
    /* padding: 2px; */
    background: transparent;
     border: 1px solid #004AAD;
     color: #CECECE;
}
.big-feature img{
    border-radius: 10px ;
    /* background-color: red; */
    position: relative;
    top: -90px ;
}
.big-feature p{
    color: #374957 ;
    text-align: justify;
    margin: 0 70px;
    
}
.big-feature .p-conatiner{
    margin-top: -70px;
}
.more-blogs .blogCard-container{
    width: 400px;
    
}
.more-blogs .more-blog-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
}
.more-blogs .more-blog-div h4{
font-size: 24px ;
font-weight: 600;
line-height: 32px;
text-align: left;
 color: #00275B;
}
.more-blogs .more-blog-div p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.more-blogs h4{
font-size: 28px;
font-weight: 600;
line-height: 25.76px;
text-align: center;
padding-bottom: 20px;
}