.credit-score-container{
    background-color:#FFFFFF ;
}
.note{
    background-color: #F3F6FA;
}
.credit-score-left button{
    border-radius: 25px;
    border: 1px solid #004AAD;
 background-color: #FFFFFF;
 /* margin-bottom: 20px ; */
}
.credit-score-container .container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* flex-wrap: wrap; */

}
.credit-score-container .credit-score-left{
    width: 40vw;
}
.credit-score-container .credit-score-left .p-container{
font-size: 18px;
font-weight: 400;
line-height: 16.56px;
text-align: justify;
 color: #374957;
}
.credit-score-container .credit-score-left{
 display: flex;
 justify-content: center;
 align-items:start;
 flex-direction: column;
 row-gap: 20px;
}
.credit-score-container .credit-score-left p{
    text-align: justify;
}
.credit-score-container .credit-score-left h4{
font-size: 44px;
font-weight: 600;
line-height: 40.48px;
text-align: left;
color: #00275B;

}
.credit-score-container .credit-score-right{
    width: 35vw;
    /* background: linear-gradient(#24CCA7,#4A56E2,#000000); */
    border-radius: 30px;
}
.credit-score-container .note{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 0px 20px;
    height: 132px;
   width: 100%;
    
}
.note h6{
    color: #1A527E;
font-size: 18px;
font-weight: 500;
line-height: 16.56px;
text-align: left;

}
.note span{
    color: #004AAD;
font-size: 14px;
font-weight: 400;
line-height: 12.88px;
text-align: left;

}
.note p:nth-child(1){
    color: #374957 ;
font-size: 14px;
font-weight: 400;
line-height: 12.88px;
text-align: left;

}
.note p:nth-child(2){
    margin-bottom: -9px;
}
.credit-score-container .credit-score-right img{
    width: 100%;
    /* height: 90%; */
    border-radius: 30px;
    /* margin-top: 30px; */
}


@media (max-width:860px) {
    .credit-score-container .container {
        flex-direction: column;
        align-items: center;
    }
    .credit-score-container .container .credit-score-left{
        width: 100%;
        order: 2;
    }
    .credit-score-container .container .credit-score-right{
        
        /* height: 300px; */
        width: 80vw;
        margin-bottom: 15px;
        
    }
}