.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.upper div button {
    background-color:#080808 ;
    color: #CECECE;
    border-radius: 30px;
    border: 1px solid #004AAD;
    /* border-radius: 20px; */
    padding: 1px 9px;
    /* border: 1px solid linear-gradient(#24CCA7,#004AAD); */
    border: 1px solid #004AAD;

    
}
.upper h3{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 600;
    /* line-height: 50px; */
}
.upper h3:nth-child(1){
    /* background-color: red; */
    margin-top: 20px;
}
.upper h3:nth-child(2){
    /* background-color: red; */
    margin-top: -20px;
}
.upper p{
    color: #FFFFFF;
  line-height: 6.56px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.home-container{
    /* background-color: #080808; */
    background-image: url('../../public/Background.png');
 background-size:100% 100%;
 background-repeat: no-repeat;
 /* background-position:; */
    margin-top: 50px;
}
.storeLink-container{
 display: flex;
 justify-content: center;
 flex-direction: row;
 column-gap: 15px;
}
.play-store img{
    width: 150px;
    cursor: pointer;
    border-radius: 25px;

}
.app-store img {
    width: 150px;
    cursor: pointer;

    border-radius: 25px;
}
.storeLink-container div{
    /* width: 110px; */
    margin-top: 25px;
    height: 75px;
    /* background-color: #00000040; */
}
.lower .laptop-img {
    width: 850px;
    height: 485px;
    /* border: 2px solid black; */
    border-radius: 10px;
}
.lower .mobile-img{
    width: 214px;
    height: 463px;
   position: absolute;
   right: 200px;
   top: 75%;
}
.img-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
   
}
.lower{
    /* background: radial-gradient(#004AAD,#24CCA7,#004AAD); */
   
}
@media (max-width:800px) {
    .img-container img{
        width: 97vw !important;
        height: 40vh !important;
        /* background-color: red; */
    }
    .upper p{
        line-height: normal;
        font-size: 10px;
        padding: 0 10px;
    }
}