.ourService-container .ourService-upper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.ourService-container{
    /* background-color: #080808; */
    background-image: url('../../public/Background.png') ;
    background-size: 100% 100%;
    /* background-position:center; */
    background-repeat: no-repeat;
}
.ourService-container .ourService-upper{
    /* background-image: url('../../public/Background.png') ;
    background-size: 100% 100%;
    background-position:center;
    background-repeat: no-repeat; */
}
.ourService-container .ourService-upper h4{
    color: #FFFFFF;
font-size: 64px;
font-weight: 600;
line-height: 58.88px;
text-align: center;

}
.ourService-container .ourService-upper p{
    color: #FFFFFF;
font-size: 18px;
font-weight: 400;
line-height: 16.56px;
text-align: center;

}
.ourService-container button{
    background-color: #080808;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 2px 10px;
    border: 1px solid #004AAD;

}
.our-service-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
}
.features h4{
font-size: 44px;
font-weight: 600;
line-height: 40.48px;
text-align: left;

}
.features h6{
font-size: 24px;
font-weight: 500;
line-height: 22.08px;
text-align: left;

}
.our-service-card .card2-container{
    width: 33vw;
    height: 50vh !important;
}
.our-service-card .card2-description{
    color:'#FFFFFF';
    font-size: 18px;
    font-weight: 400;
    line-height: 16.56px;
    text-align: left;
    
    
}
.our-service-card .card2-logo{
    width: 40px;
}
.our-service-card .card2-title{
    color: #FFFFFF;
font-size: 24px;
font-weight: 600;
line-height: 22.08px;
text-align: left;

}
@media (max-width:770px) {
     .features .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: red; */
        flex-wrap: nowrap;
     }
     .features .container .left-1{
        width: 90vw;
     }
     .features .container .right-1{
        width: 90vw;
        text-align: start;
     }
     .features .container .left-1{
        /* background-color: red; */
        order: 1 !important;
     }
     .features .container .left-1 img{
        width: 100% !important;
        /* background-color: darkgreen; */
     }
     .feature-footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: red; */
        flex-wrap: nowrap;
     }
     .feature-footer .container .left-1 {
        width: 90vw;
     }
     .feature-footer .container .right-1{
        width: 90vw;
        text-align: justify;
     }
     .feature-footer .container .left-1 img{
        width: 100%;
     }
     .feature-footer .card2-container{
      
        min-width: 60vw;
       max-width: 90vw;
       height: 22vh !important;
     }
}