.review-container{
    background-color: #080808;
    background-image: url('../../public/Background.png') ;
background-size: cover ;
background-position: center ;
background-repeat: no-repeat;
    /* background-color: red; */
    color: #ffff;
}
.review-upper{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
}
/* .review-upper p{
    font-size: 10px;
    text-align: justify;
    line-height: 5px;
} */
.review-upper button{
    border-radius: 25px;
    border: 1px solid #004AAD;
    background-color:#080808 ;
    padding: 1px 10px;
    color: #F9FCFF;
}
/* .review-lower{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;

} */
.review-lower img{
    
    position: relative;
    left: 42%;
    top:-35px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    
    
}
.review-lower{
    /* overflow: visible !important; */
    
}
.review-lower .card2-container{
 
  
  overflow: visible ;
  margin-top: 30px;
  margin-left: 30px;
}
.more-review-btn{
    border-radius: 30px;
    background-color: #004AAD;
    color: #FFFFFF;
    padding: 5px 15px;
    text-align: center;
    align-items: center;
    border: 1px solid #004AAD ;
}
.review-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.review-lower .card2-description{
    color: #000 !important;
    font-size: 13px;
    text-align: justify;
}