.smart-saver-container{
    background-color: #F3F6FA;
}
.smart-saver-upper-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.smart-saver-upper-container h3{
    color: #00275B;
    font-size: 3vw;
    text-align: justify;
  font-size: 44px;
  font-weight: 600;
  line-height: 40.48px;
}
.smart-saver-upper-container button{
    border-radius: 30px;
    padding: 4px 10px;
    background-color: transparent;
    border: 1px solid #004AAD;
    margin-bottom: 15px;
}
.smart-saver-upper-container p {
    padding: 0 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 16.56px;
    text-align: center;
    margin-top: 15px;
    
}
.smart-saver-upper-container .blank{
    height: 120px;

}
.smart-saver-middle-container{
    display: flex !important;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 15px;
}
.smart-saver-middle-container .middle-left{
    width: 40vw;
}
.smart-saver-middle-container .middle-right{
    width: 40vw;
    /* background: linear-gradient(#a3fae7,#aeb5ff,#FFFFFF); */
    border-radius: 30px;
    height: 400px;
}
.smart-saver-middle-container .middle-right img{
    /* width: 40vw;
    height: 80%; */
}
.smart-saver-middle-container h5{
    color: #1A527E;
font-size: 24px;
font-weight: 500;
line-height: 22.08px;
text-align: left;

}
.middle-left img{
    width: 60px;
    float: left; 
    margin-right: 20px;
}
.smart-saver-middle-container p{
    color: #374957;
font-size: 18px;
font-weight: 400;
line-height: 16.56px;
text-align: justified; 
}

@media (max-width:800px) {

    .smart-saver-middle-container .middle-left{
        order: 2;
    }
    .smart-saver-middle-container .middle-right{
        order: 1;
        width: 80vw;
    }
     .smart-saver-middle-container {
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
     }
     .smart-saver-middle-container .middle-left , .middle-left  {
        width: 90vw !important;
     }
     .smart-saver-middle-container .middle-right img {
        width: 90vw !important;
     }
}

.smart-saver-lower-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* background: linear-gradient(#80ffe3,#818cff); */
    border-radius: 30px;
    padding: 20px 0px !important;
}
.smart-saver-lower-container img {
    /* width: 50vw; */
    border-radius: 30px;
    margin-top: 40px;
}
.smart-saver-bottom{
    text-align: center;
}
.smart-saver-bottom h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 22.08px;
    text-align: center;
    
     color: #1A527E;
}
.smart-saver-bottom p{
font-size: 18px;
font-weight: 400;
line-height: 16.56px;
text-align: center;
margin-top: 15px;
}
.middle-left .left-details{
    display: flex;
}