@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: "League Spartan", sans-serif !important;
    overflow-x: hidden;
   
  }
  *::selection{
    background-color: #1A527E;
    color:#ffffff;
   
  }